In [7]:
import pandas as pd

df = pd.read_csv('../data/processed/master_yield_dataset.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385659 entries, 0 to 385658
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Crop                385659 non-null  object
 1   State               385659 non-null  object
 2   County              385659 non-null  object
 3   Year                385659 non-null  int64
 4   Yield               385659 non-null  float64
 5   tavg_growing_avg    385659 non-null  float64
 6   tmin_growing_avg    385659 non-null  float64
 7   tmax_growing_avg    385659 non-null  float64
 8   prcp_growing_total  385659 non-null  float64
 9   rh_growing_avg      385659 non-null  float64
 10  gdd_total           385659 non-null  float64
 11  heat_stress_days    385659 non-null  int64
 12  temp_range_avg      385659 non-null  float64
 13  clay_pct            385659 non-null  int64
 14  sand_pct            385659 non-null  int64
 15  silt_pct            385659 non-null  int64
 16  organic_matter_pct  385659 non-null  float64
 17  ph                  385659 non-null  float64
 18  bulk_density        385659 non-null  float64
 19  cec                 385659 non-null  int64
 20  awc                 385659 non-null  float64
 21  Latitude            385659 non-null  float64
 22  Longitude           385659 non-null  float64
 23  State_Name          385659 non-null  object
 24  STATE_FIPS_CODE     385659 non-null  int64
 25  COUNTY_CODE         385659 non-null  float64
 26  AREA_HARVESTED      379563 non-null  float64
 27  PRODUCTION          379498 non-null  float64
dtypes: float64(17), int64(7), object(4)
memory usage: 82.4+ MB

In [2]:
df.head()

,Crop,State,County,Year,Yield,tavg_growing_avg,tmin_growing_avg,tmax_growing_avg,prcp_growing_total,rh_growing_avg,...,bulk_density,cec,awc,Latitude,Longitude,State_Name,STATE_FIPS_CODE,COUNTY_CODE,AREA_HARVESTED,PRODUCTION
0,BARLEY,AZ,COCHISE,1981,80.3,24.856531,18.484286,31.846429,180.81,48.266633,...,1.55,15,0.1,31.879518,-109.7512,ARIZONA,4,3.0,800.0,68000.0
1,BARLEY,AZ,COCHISE,1982,86.0,24.490510,17.797755,31.549490,202.08,48.877347,...,1.55,15,0.1,31.879518,-109.7512,ARIZONA,4,3.0,900.0,77400.0
2,BARLEY,AZ,COCHISE,1983,80.3,24.621633,18.612959,31.123061,304.05,53.757959,...,1.55,15,0.1,31.879518,-109.7512,ARIZONA,4,3.0,1400.0,120500.0
3,BARLEY,AZ,COCHISE,1984,84.0,23.205561,17.190765,29.826684,284.16,58.642602,...,1.55,15,0.1,31.879518,-109.7512,ARIZONA,4,3.0,2100.0,176400.0
4,BARLEY,AZ,COCHISE,1985,97.2,23.783878,16.977347,31.157449,209.77,46.342653,...,1.55,15,0.1,31.879518,-109.7512,ARIZONA,4,3.0,900.0,87500.0

In [3]:
# Run this to check data distribution
print("Crop distribution:")
print(df['Crop'].value_counts())

print("\nYear range:")
print(f"Years: {df['Year'].min()} to {df['Year'].max()}")

print("\nSamples per crop-state combination:")
print(df.groupby(['Crop', 'State']).size().describe())

Crop distribution:
Crop
CORN         82742
SOYBEANS     66101
WHEAT        55064
HAY          53435
OATS         42151
SORGHUM      25548
BARLEY       21433
COTTON       17923
PEANUTS       7075
BEANS         5965
SUNFLOWER     4464
RICE          3758
Name: count, dtype: int64

Year range:
Years: 1981 to 2023

Samples per crop-state combination:
count     286.000000
mean     1348.458042
std      1110.174200
min         2.000000
25%       476.250000
50%      1059.000000
75%      1948.750000
max      5300.000000
dtype: float64